<div class="col-8 m-auto text-center">
    <h1>Categories</h1>
        <div class="pagination justify-content-center mt-4">
            <%= will_paginate %>
        </div>
        <div class="row">
        <% if @categories.any? %>
                <% @categories.each do |category|%>
                <div class="col-6">
                    <div class="card mx-2 my-2">
                        <div class="card-header">
                            <h5 class="card-title"><%= link_to category.title,"#",class:"float-left"%></h5>
                            <div class="stats float-right">
                                <strong class="stat">
                                    <%= pluralize(category.words.count,"Word") %>
                                </strong>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted float-left"><%= category.description %></h6>
                            <% lesson = current_user.lesson_taken(category.id)%>
                            <% if lesson.nil? %>
                                <%=link_to "Start Lesson",lessons_path(category_id: category.id),method: :post,class:"float-right btn btn-outline-secondary"%>
                            <% else %>
                                <%=link_to "Show Result","#",class:"float-right btn btn-outline-primary"%>
                            <% end %>
                        </div>
                        
                    </div>
                </div>
                <% end %>
        <% else %>
            <h3 class="mx-auto">There is no category.</h3>
        <% end %>
        </div>
        <div class="pagination justify-content-center mt-4">
            <%= will_paginate %>
        </div>
    <%= link_to "Back","#",class:"btn btn-outline-secondary px-5 mb-4"%>
</div>

